.fundo {
    background: linear-gradient(#dddddd , white);
}

.cabecalo {
    padding: 20px;
    background: linear-gradient(rgb(162, 235, 248), #dddddd);
    text-align: center;
}

.procura {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.perfil {
    display: flex;
    justify-content: center;
    padding: 0 0 20px;
}

.botaoReposStarred {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.reposStarred {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.infoRepos {
    display: flex;
    justify-content: center;
    padding: 10px;
}
